/* Catppuccin Mocha for Wofi */

/* Color Palette */
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

window {
    background-color: @base;
    border: 2px solid @mauve;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font"; /* Example font, user might need to change */
    font-size: 14px;
    color: @text;
}

#input {
    background-color: @mantle;
    color: @text;
    border: none;
    border-bottom: 2px solid @mauve;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border-radius: 5px;
    background-color: @mantle;
}

#outer-box {
    margin: 5px;
    padding: 5px;
    background-color: @base;
    border-radius: 5px;
}

#scroll {
    margin: 0px;
    border-radius: 5px;
}

#text {
    padding: 5px;
    color: @text;
}

#entry {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: @surface0;
}

#entry:selected {
    background-color: @mauve;
    color: @base;
    border-radius: 5px;
}

#entry:selected #text {
    color: @base;
}
