/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}

#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}

#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}

#battery {
	background-color: @battery;
}

#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-transparency {
	background-color: @surface0;
	padding: 0 10px;
	color: @text;
}

#custom-transparency.enabled {
	color: @accent;
}

#custom-power_menu {
	background-color: @critical;
	padding: 0 10px 0 10px;
	border-radius: 0 15px 15px 0;
	margin-right: 15px;
	color: @main-bg;
}

#custom-power_menu:hover {
	background-color: @hover-bg;
}