/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    settings
------------*/

#custom-left_div.9 {
	color: @surface0;
}

#custom-settings {
	background-color: @surface0;
	padding: 0 5px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	background-color: @surface0;
	color: @volume;
}

#pulseaudio,
#wireplumber {
	background-color: @volume;
}

/*----------------
    brightness
----------------*/

#custom-left_div.7 {
	background-color: @volume;
	color: @backlight;
}

#backlight {
	background-color: @backlight;
}

/*-------------
    battery
-------------*/

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}

#battery {
	background-color: @battery;
}

#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    power menu
----------------*/

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}

#custom-power_menu:hover {
	background-color: @hover-bg;
}